n8n-fly/workflow.json
{
  "updatedAt": "2026-02-20T06:32:20.432Z",
  "createdAt": "2026-02-14T16:07:58.334Z",
  "id": "TQkyDMEGaTVJOlvB",
  "name": "Karma_Rent_Workers",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "tableId": "Message_Buffer",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.sender }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $('Webhook').item.json.body.metadata.messageId }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Webhook').item.json.body.metadata.timestamp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1168,
        -304
      ],
      "id": "e56ae42c-9d2b-49f8-9e59-2353f6f874a6",
      "name": "Добавление сообщений",
      "credentials": {
        "supabaseApi": {
          "id": "KQZaTSAuLCvGSSwO",
          "name": "Supabase Karma_Worker"
        }
      }
    },
    {
      "parameters": {
        "content": "Сбор сообщений от клиента\n\n* Запоминает сообщения. в течении 10 сек, и отвечает. на все, а не по одному",
        "height": 500,
        "width": 1896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        -400
      ],
      "typeVersion": 1,
      "id": "50e9a8b6-46c8-4d74-babe-d3fe334e6ef6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp",
              "order": "=ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "3d1be0b3-5910-43eb-93df-57777209f978",
      "name": "Sort by Message ID",
      "type": "n8n-nodes-base.sort",
      "position": [
        1904,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Message_Buffer",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.metadata.remoteJid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1648,
        -304
      ],
      "id": "5639a0b2-3528-445d-a6b2-04bdcc0196f6",
      "name": "Берем сообщения",
      "credentials": {
        "supabaseApi": {
          "id": "KQZaTSAuLCvGSSwO",
          "name": "Supabase Karma_Worker"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "b7b93f28-25b0-4a6c-88dd-65462f02d4a3",
      "name": "Wait 10 Seconds",
      "type": "n8n-nodes-base.wait",
      "position": [
        1408,
        -144
      ],
      "webhookId": "87994c9a-fd20-48b6-8dbe-9af36dc40b2f",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "7ca8e5ed-45ee-4e10-9fc9-621725de64c3",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2480,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Сбор всех сообщений\n* Свверка с CRM\n* формулирование ответа ",
        "height": 632,
        "width": 1016,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        160
      ],
      "typeVersion": 1,
      "id": "9bd44ad0-6c47-40fe-b3ec-e6c8e6caa529",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты менеджер по аренде байков KarmaRent городе Нячанг. \nЕсли клиент ошибаеться то говори что мы работаем только в этих городах. Если нет, то не нужно напоминать об этом\n\nЕсли есть непонимание — перефразируй вопрос. \nДобавляй смайлики там где это уместно, в начале строк и  там где уместно (Байк, Фото, Аренда, Депозит  и т.д.)\nВсегда общайся на языке обращения клиента, клиент может писать на Вьетнамском, английском, Русском, Укр, Казахском и так далее!!\n\nПример диалога на английском:\nClient: Hi! I’m looking for a bike for a few days in Nha Trang.\nAssistant:\n– How many days do you need the bike for?\n– Will you ride alone or with a passenger?\n– Do you prefer a sporty model or something more comfortable?\n\n\n\nПример диалога на испанском:\nCliente: ¡Hola! Quiero alquilar una moto para dos días.\nAsistente:\n– ¿En qué ciudad la necesitas?\n– ¿Prefieres un modelo automático o manual?\n– ¿Vas a conducir solo o con pasajero?\n\n1. Первое сообщение клиенту (пример): \n\nПривет! 😊 Давайте подберем байк. Пожалуйста, ответьте на несколько вопросов:\n\n– На сколько дней планируете аренду?\n– Байк нужен для города или дальних поездок?\n– Есть ли опыт вождения?\n\nЕсли аренда до 3 дней, напиши, что так невыгодно: чем больше дней, тем выгоднее, если все же клиенту нужно меньше чем на 3 дня, то предложи свободные варианты не надо говорить об выгоде если клиент не упоминал об этом или выбрал менее чем на 3 дня! \nПри аренде от 3 дней — дарим подборку интересных мест по Нячангу (заправки, что посмотреть, лайфхаки, экскурсии).\nПри аренде от 7 дней — бесплатная доставка байка по городу!\n\nПосле первого блока вопросов:\nВ Tool \"Get row(s) in sheet in Google Sheets\":\n\nНайти байки, у которых состояние (поле A) = \"Свободен\" и вышли клиенту \nПредлагай только свободные байки (статус “Свободен”) придумывать другие байки что бы угодить клиенту запрещено, используй только те байки что есть в ноде \"Get row(s) in sheet in Google Sheets\"\n\nСформировать структурированный ответ по типу: \nМодель (поле B)\nФото (поле E)\nСостояние (поле A)\nАксессуары (поле F)\n\n2. Второе сообщение клиенту со свободными байками взятые в Tool \"Get row(s) in sheet in Google Sheets\"\n(пример): \n\n- Модель (поле B)\n- Фото (поле E)\n- Состояние (поле A)\n- Аксессуары (поле F)\n\nНапомнить клиенту о:\n– Для каждого байка: укажи модель, класс, аксессуары, приложи фото без выгрузки таблицы в markdown.\n– Кратко опиши преимущества выбранной модели и удобство для клиента.\n– Если ни один байк не подходит, сообщи об этом вежливо на языке клиента.\n\n\nПАСПОРТ:\nКогда этап = \"паспорт\" и клиент шлёт фото:\n- Если в сообщении есть [ДОКУМЕНТ] — это паспорт, вызови тулзу Update для бронирования, поставь этап \"забронирован\" и ответь: \"Спасибо! Бронь подтверждена ✅ Наш менеджер скоро свяжется с вами для уточнения деталей 😊\"\n- Если в сообщении есть [ФОТО] но НЕ [ДОКУМЕНТ] — это НЕ паспорт. Вежливо попроси прислать фото паспорта или ID, например: \"Это не похоже на документ 😊 Пришлите, пожалуйста, фото паспорта или ID для подтверждения брони\"\n\nВАЖНО — ДАННЫЕ КЛИЕНТА:\nВ начале сообщения могут быть ДАННЫЕ КЛИЕНТА в формате [ключ: значение]. Используй их — это то, что клиент уже рассказал ранее. НЕ переспрашивай то, что уже известно.\n\nВ конце КАЖДОГО своего ответа добавляй блок STATE с обновлёнными данными клиента:\nSTATE: {\"дней\": \"7\", \"опыт\": \"есть\", \"байк\": \"Honda Air Blade (row 5)\", \"этап\": \"выбор\"}\n\nЭтапы: приветствие → выяснение → подбор → выбор → паспорт → забронирован\nОбновляй STATE при каждом новом ответе с актуальными данными."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1728,
        256
      ],
      "id": "977a8dc3-1b96-4b0c-815a-1f366b02b98e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "Отправка байка в мессенджер \n",
        "height": 260,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2704,
        176
      ],
      "typeVersion": 1,
      "id": "54940db2-5311-4f24-92a0-691e75149987",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "https://app.chatflow.kz/api/v1/send-text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJTaUN0NUJQdEpaUEVFb0FlZERRRXR6YldDSWVUOGE0dSIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzcxMTUxNzc0fQ.EdGPEhk0to6vB5s54GCtVlh4cpmZmMSELpNfQYHm8tw"
            },
            {
              "name": "instance_id",
              "value": "=eyJ1aWQiOiJTaUN0NUJQdEpaUEVFb0FlZERRRXR6YldDSWVUOGE0dSIsImNsaWVudF9pZCI6Ikthcm1hUmVudCAifQ=="
            },
            {
              "name": "jid",
              "value": "={{ $('Webhook').item.json.body.metadata.remoteJid }}"
            },
            {
              "name": "msg",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        256
      ],
      "id": "347d496d-8d67-4450-a2a5-f349db069537",
      "name": "Сообщение в WhatsApp"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.metadata.remoteJid }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1712,
        528
      ],
      "id": "ad542f4d-c01e-4742-8de8-ef468624932b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE",
          "mode": "list",
          "cachedResultName": "Karma Rent Bike Pro1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 379274933,
          "mode": "list",
          "cachedResultName": "Байки",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit#gid=379274933"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1984,
        528
      ],
      "id": "d7cc99c2-bac6-447b-9b40-832b140e7beb",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hNuIzZIkQLwvM5fn",
          "name": "Google Sheets account_KARMA_RENT"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE",
          "mode": "list",
          "cachedResultName": "Karma Rent Bike Pro1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 807819994,
          "mode": "list",
          "cachedResultName": "Тарифы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit#gid=807819994"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2176,
        528
      ],
      "id": "95a6bbde-4c49-4100-87c3-fc05d3f14eb2",
      "name": "Get row(s) in sheet in Google Sheets Price",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hNuIzZIkQLwvM5fn",
          "name": "Google Sheets account_KARMA_RENT"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Используй эту тулзу что бы обновлять состояние байков после бронирования клиентов \nСостояние (Поле A) - В Аренде",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE",
          "mode": "list",
          "cachedResultName": "Karma Rent Bike Pro1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 379274933,
          "mode": "list",
          "cachedResultName": "Байки",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit#gid=379274933"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Состояние": "В аренде",
            "row_number": 0
          },
          "matchingColumns": [
            "Состояние"
          ],
          "schema": [
            {
              "id": "Состояние",
              "displayName": "Состояние",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Байк",
              "displayName": "Байк",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Номер байка ",
              "displayName": "Номер байка ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Класс",
              "displayName": "Класс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Фото",
              "displayName": "Фото",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Аксессуары",
              "displayName": "Аксессуары",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Коментарий",
              "displayName": "Коментарий",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2352,
        528
      ],
      "id": "aeb8f2bf-503c-4af0-a8ac-3e1074972c42",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hNuIzZIkQLwvM5fn",
          "name": "Google Sheets account_KARMA_RENT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8852bab7-230e-442a-a4a2-994e979c8f9f",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $input.last().json.timestamp }}\n\n",
              "rightValue": "={{ $('Webhook').item.json.body.metadata.timestamp.toString() }}\n"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "e1a8c728-16b4-4f51-acd9-ff3e625df1c4",
      "name": "Проверить последнее сообщение",
      "type": "n8n-nodes-base.if",
      "position": [
        2160,
        -288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Message_Buffer",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2464,
        -304
      ],
      "id": "651cc2dc-33e6-438e-ad5f-fdccaffe0934",
      "name": "Сборка сообщений",
      "credentials": {
        "supabaseApi": {
          "id": "KQZaTSAuLCvGSSwO",
          "name": "Supabase Karma_Worker"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "id": "fd34ebe1-d9b6-4656-83ab-997a053e7ced",
      "name": "Сумма",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2752,
        -304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1536,
        528
      ],
      "id": "15400d68-9790-4bc2-86a5-507f6171ee88",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cE63FX9za2dolIQA",
          "name": "OpenAi D1Motors"
        }
      }
    },
    {
      "parameters": {
        "content": "Подробный разбор этого блока во втором видео на канале",
        "height": 860,
        "width": 1804
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -512
      ],
      "typeVersion": 1,
      "id": "6bbfa434-a7b2-4551-b7df-8546c9b517b4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "text",
                    "rightValue": "={{ $json.messageType }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7d2a8cb9-ee05-4c48-a620-6d701b21002b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3489ec87-b04e-4b1e-ade1-81424608aafa",
                    "leftValue": "audio",
                    "rightValue": "={{ $json.messageType }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6c404022-4092-4ba6-9399-ff9a520d47c6",
                    "leftValue": "image",
                    "rightValue": "={{ $json.messageType }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e5eedbe-968b-4175-94a3-b505f3068b7e",
                    "leftValue": "document",
                    "rightValue": "={{ $json.messageType }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -592,
        -256
      ],
      "id": "1ec75ec9-8d5e-4b3d-b345-fbc802bae521",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.pdf }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        112
      ],
      "id": "08f44d7b-eeab-4737-bba7-0ca70c5085f7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "960ff6f3-909b-4028-bfa3-d275c85ed6f9",
              "name": "sender",
              "type": "string",
              "value": "={{ $(\"Webhook\").item.json.body.metadata.remoteJid }}"
            },
            {
              "id": "efed5d73-27e8-4538-b7d9-3044f1ec3288",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ff95a31a-3523-4596-85f9-4578cdc9da0e",
      "name": "Set Payment Response2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.image }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -64
      ],
      "id": "2be6553a-905f-476e-91c2-a80a06051e07",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "960ff6f3-909b-4028-bfa3-d275c85ed6f9",
              "name": "sender",
              "type": "string",
              "value": "={{ $(\"Webhook\").item.json.body.metadata.remoteJid }}"
            },
            {
              "id": "dbfc6897-26c0-4161-b078-740a98d1aa8c",
              "name": "message",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c440741f-879e-4a38-977e-dfc587ad8a06",
      "name": "Set Payment Response3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -64
      ],
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "9a8ea6c1-406a-4903-ae12-a910047c5740",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        112
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Посмотри на изображение.\n\nЕсли это похоже на документ (паспорт, ID, водительское удостоверение, права) — начни ответ с тега [ДОКУМЕНТ].\nЕсли это не документ — начни с тега [ФОТО].\n\nПосле тега — кратко опиши что на изображении.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        192,
        -64
      ],
      "id": "b41e86c1-a1b0-4d35-b186-6120cb815272",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "RiO4nO6XHyozGS1E",
          "name": "OpenAi Karma_Rent"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8abb0f-2aaf-49ed-b2da-f092775f47a3",
              "name": "sender",
              "value": "={{ $json.body.metadata.remoteJid }}",
              "type": "string"
            },
            {
              "id": "70b56414-635b-4e1d-bb0f-d46a5b0f7aba",
              "name": "messageType",
              "value": "={{ $json.body.messageType }}",
              "type": "string"
            },
            {
              "id": "c7bdfe19-e9cd-4d73-b497-cb3f4f46c8ee",
              "name": "text message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "8429b40f-b61c-4564-ac6b-d925151c2c65",
              "name": "audio message",
              "value": "={{ $json.body.mediaData.base64 }}",
              "type": "string"
            },
            {
              "id": "0cdf4162-4c2d-4bef-9b64-02bd7d6eac69",
              "name": "image",
              "value": "={{ $json.body.mediaData.url }}",
              "type": "string"
            },
            {
              "id": "bdd37591-1ef7-42f1-91ff-a1716485354d",
              "name": "pdf",
              "value": "={{ $json.body.mediaData.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -224
      ],
      "id": "52bce193-950a-4002-85bd-bcb3a8fbb236",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa71e06-3620-4e33-94be-28a53ff07c6f",
              "name": "sender",
              "value": "={{ $json.sender }}",
              "type": "string"
            },
            {
              "id": "f53588bd-200f-4dab-a639-ff3b3ea640c5",
              "name": "message",
              "value": "={{ $json['text message'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -448
      ],
      "id": "ab9755cd-f5b1-4297-88fb-8c38af3b0c1c",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a125f358-6efd-4d14-be3a-d3df77c34274",
              "name": "sender",
              "value": "={{ $json.sender }}",
              "type": "string"
            },
            {
              "id": "19b2a85e-9877-47e2-b82c-8d995b2183c0",
              "name": "audio message",
              "value": "={{ $json['audio message'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -240
      ],
      "id": "0989ecc8-00d8-4343-a91c-7e01c79fec05",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audio message",
        "options": {
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        192,
        -240
      ],
      "id": "b662d657-d516-4455-ba4e-991a75f26fd8",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        416,
        -240
      ],
      "id": "a2bf4a7f-f1da-4a0a-95cc-e4d55d979eff",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "RiO4nO6XHyozGS1E",
          "name": "OpenAi Karma_Rent"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe1c1138-fe9f-4d00-9743-5e66282d9074",
              "name": "sender",
              "value": "={{ $('Edit Fields6').item.json.sender }}",
              "type": "string"
            },
            {
              "id": "ec2514bb-d888-4e2c-b427-617acf2295d6",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -240
      ],
      "id": "831ddb82-77c4-4d04-bad7-1e0c0ea12a27",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "content": "",
        "height": 240,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -272
      ],
      "typeVersion": 1,
      "id": "30775e05-1a9d-430f-9c2d-faf9efcfb9b4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6b2abf67-a83b-4cb7-bc7b-81be5cf2e820",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1184,
        -224
      ],
      "id": "8604b9e9-b4e3-4e67-bce6-19232e582709",
      "name": "Webhook",
      "webhookId": "6b2abf67-a83b-4cb7-bc7b-81be5cf2e820"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=– После того как клиент выслал фото паспорта, ОБЯЗАТЕЛЬНО вызови тулзу \"Update row in sheet in Google Sheets\" с параметрами \n{\"row_number\": 2, \"Состояние\": \"Забронирован\"} \nгде 2 - это row_number выбранного байка\n\nИспользуй эту тулзу чтобы обновлять состояние байков после бронирования клиентов.\n\nВАЖНО:\n- Когда клиент присылает фото паспорта и подтверждает бронирование, вызови эту тулзу\n- Передай row_number байка, который выбрал клиент (ты получил его из Get row(s) in sheet)\n- Установи Состояние = \"Забронирован\"\n\nПример: если клиент выбрал байк с row_number = 5, передай:\nrow_number: 5\nСостояние: Забронирован",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE",
          "mode": "list",
          "cachedResultName": "Karma Rent Bike Pro1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 379274933,
          "mode": "list",
          "cachedResultName": "Байки",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit#gid=379274933"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Состояние",
              "displayName": "Состояние",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Байк",
              "displayName": "Байк",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Номер байка ",
              "displayName": "Номер байка ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Класс",
              "displayName": "Класс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Фото",
              "displayName": "Фото",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Аксессуары",
              "displayName": "Аксессуары",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Коментарий",
              "displayName": "Коментарий",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2704,
        560
      ],
      "id": "045c8e67-533e-4b6d-85bd-202328732113",
      "name": "Update row in sheet in Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hNuIzZIkQLwvM5fn",
          "name": "Google Sheets account_KARMA_RENT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1-84586066091",
              "leftValue": "={{ $json.body.metadata.remoteJid }}",
              "rightValue": "84586066091",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f2-79262579414",
              "leftValue": "={{ $json.body.metadata.remoteJid }}",
              "rightValue": "79262579414",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -968,
        -224
      ],
      "id": "phone-filter-node-new",
      "name": "Phone Filter"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_state",
        "filters": {
          "conditions": [
            {
              "keyName": "jid",
              "condition": "eq",
              "keyValue": "={{ $json.sender }}"
            }
          ]
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2900,
        -304
      ],
      "id": "fe9ca20f-a784-400d-9cfb-37ce29a6f6f8",
      "name": "Get User State",
      "credentials": {
        "supabaseApi": {
          "id": "wbGz4Jz68CmVoiMd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get state from Supabase\nconst items = $input.all();\nconst summaData = $('Сумма').first().json;\nconst sender = summaData.sender || '';\nconst message = summaData.message || '';\n\n// Build state context\nlet stateContext = '';\nif (items.length > 0 && items[0].json.state && Object.keys(items[0].json.state).length > 0) {\n  const state = items[0].json.state;\n  \n  // Check state reset: if updated_at > 24h, reset\n  const updatedAt = items[0].json.updated_at;\n  if (updatedAt) {\n    const hoursAgo = (Date.now() - new Date(updatedAt).getTime()) / 3600000;\n    if (hoursAgo > 12) {\n      // State expired, start fresh\n      return [{ json: { sender, message: 'ДАННЫЕ КЛИЕНТА: новый диалог (предыдущий >12ч назад)\\n---\\n' + message } }];\n    }\n  }\n  \n  stateContext = 'ДАННЫЕ КЛИЕНТА:\\n';\n  for (const [key, value] of Object.entries(state)) {\n    stateContext += '[' + key + ': ' + value + ']\\n';\n  }\n}\n\n// Flow rules — always injected\nconst flowRules = `\nФЛОУ ДИАЛОГА:\n1. ПРИВЕТСТВИЕ → спроси: сколько дней? для города/дальних? опыт?\n2. ВЫЯСНЕНИЕ → клиент ответил на вопросы → вызови Get Sheets → покажи свободные байки\n3. ПОДБОР → показал байки, клиент выбирает\n4. ВЫБОР → клиент сказал \"хочу этот\"/\"беру\" → подтверди выбор, попроси фото паспорта/ID\n5. ПАСПОРТ → ждём фото документа. [ДОКУМЕНТ]=бронируй, [ФОТО]=попроси паспорт заново. Если клиент хочет поменять байк или задаёт вопросы — верни на этап ПОДБОР/ВЫЯСНЕНИЕ\n6. ЗАБРОНИРОВАН → СТОП. Если клиент пишет после бронирования — отвечай ТОЛЬКО: \"Ваша бронь оформлена ✅ Если нужно изменить бронирование — скоро с вами свяжется наш менеджер 😊\". Никаких других ответов по существу.\n\nСТОПСЛОВА — если клиент говорит: \"отмена\"/\"не надо\"/\"передумал\"/\"cancel\"/\"no thanks\":\n→ НЕ настаивай, но мягко оставь дверь открытой\n→ Примеры: \"Хорошо! Если передумаете — мы всегда на связи 😊\" / \"Без проблем! Будем рады помочь, когда будете готовы 🤙\"\n→ Поставь этап: \"отменён\"\n→ Одно вежливое сообщение, НЕ уговаривай повторно\n\nПРАВИЛО: обновляй этап в STATE при КАЖДОМ переходе!\n`;\n\nreturn [{\n  json: {\n    sender: sender,\n    message: stateContext + flowRules + '---\\nСообщение клиента: ' + message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        -304
      ],
      "id": "d858893a-adb6-401f-9d26-db806f1c43d1",
      "name": "Inject State"
    },
    {
      "parameters": {
        "jsCode": "// Get AI Agent response\nconst aiOutput = $input.first().json.output || $input.first().json.text || '';\nconst sender = $('Сумма').first().json.sender || '';\n\n// Extract state updates from AI response\n// AI should output STATE: {...} block, but we also parse structured info\nconst state = {};\n\n// Try to extract from STATE: block if AI outputs it\nconst stateMatch = aiOutput.match(/STATE:\\s*\\{([^}]+)\\}/);\nif (stateMatch) {\n  try {\n    const parsed = JSON.parse('{' + stateMatch[1] + '}');\n    Object.assign(state, parsed);\n  } catch(e) {}\n}\n\n// Also extract from [key: value] patterns\nconst kvMatches = aiOutput.matchAll(/\\[([^:]+):\\s*([^\\]]+)\\]/g);\nfor (const m of kvMatches) {\n  state[m[1].trim()] = m[2].trim();\n}\n\n// Clean response for WhatsApp (remove STATE block)\nlet cleanOutput = aiOutput.replace(/STATE:\\s*\\{[^}]+\\}\\n?/g, '').trim();\n\nreturn [{\n  json: {\n    output: cleanOutput,\n    sender: sender,\n    state: state,\n    hasState: Object.keys(state).length > 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        256
      ],
      "id": "3555a285-2983-42fb-a95c-ff6edff24a5e",
      "name": "Extract State"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "user_state",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldName": "jid",
              "fieldValue": "={{ $json.sender }}"
            },
            {
              "fieldName": "state",
              "fieldValue": "={{ JSON.stringify($json.state) }}"
            },
            {
              "fieldName": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {
          "onConflict": "jid"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2400,
        256
      ],
      "id": "e16baf7d-8a56-4ea9-8a58-0a97e02dea96",
      "name": "Save User State",
      "credentials": {
        "supabaseApi": {
          "id": "wbGz4Jz68CmVoiMd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-booked",
              "leftValue": "={{ $('Get User State').first().json.state?.этап || '' }}",
              "rightValue": "забронирован",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-cancelled",
              "leftValue": "={{ $('Get User State').first().json.state?.этап || '' }}",
              "rightValue": "отменён",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3200,
        -304
      ],
      "id": "e87cf19d-2206-49f2-80b4-d2cad1a85628",
      "name": "Check Stage"
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "64d45a5c-237c-487b-b60c-5792e7c7e494",
              "name": "output",
              "type": "string",
              "value": "Ваша бронь оформлена ✅ Если нужно изменить бронирование — скоро с вами свяжется наш менеджер 😊"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3400,
        -500
      ],
      "id": "7dfc3b5c-f1c6-46f1-b23f-8e4b31f72358",
      "name": "Booked Response"
    }
  ],
  "connections": {
    "Sort by Message ID": {
      "main": [
        [
          {
            "node": "Проверить последнее сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Берем сообщения": {
      "main": [
        [
          {
            "node": "Sort by Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавление сообщений": {
      "main": [
        [
          {
            "node": "Берем сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Seconds": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets Price": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверить последнее сообщение": {
      "main": [
        [
          {
            "node": "Сборка сообщений",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сборка сообщений": {
      "main": [
        [
          {
            "node": "Сумма",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сумма": {
      "main": [
        [
          {
            "node": "Get User State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Set Payment Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Set Payment Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Phone Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Добавление сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Добавление сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payment Response3": {
      "main": [
        [
          {
            "node": "Добавление сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payment Response2": {
      "main": [
        [
          {
            "node": "Добавление сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Phone Filter": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get User State": {
      "main": [
        [
          {
            "node": "Inject State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject State": {
      "main": [
        [
          {
            "node": "Check Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract State": {
      "main": [
        [
          {
            "node": "Save User State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Сообщение в WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stage": {
      "main": [
        [
          {
            "node": "Booked Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booked Response": {
      "main": [
        [
          {
            "node": "Сообщение в WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d95559267fbb3fd90ca66bf0da9ac536bc30b9dad3b01ae905ad2418a284aa3"
  },
  "pinData": {},
  "versionId": "09241303-a785-4314-8549-9a72e8c57b18",
  "activeVersionId": "09241303-a785-4314-8549-9a72e8c57b18",
  "versionCounter": 54,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-14T16:07:58.338Z",
      "createdAt": "2026-02-14T16:07:58.338Z",
      "role": "workflow:owner",
      "workflowId": "TQkyDMEGaTVJOlvB",
      "projectId": "2cpwvbbD59WEdKZi",
      "project": {
        "updatedAt": "2026-02-14T15:55:36.909Z",
        "createdAt": "2026-02-14T15:34:42.543Z",
        "id": "2cpwvbbD59WEdKZi",
        "name": "Denis Ovchar <denis@karmarent.app>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5e6708ad-c08f-4c67-a285-fb076a605ef0",
        "projectRelations": [
          {
            "updatedAt": "2026-02-14T15:34:42.543Z",
            "createdAt": "2026-02-14T15:34:42.543Z",
            "userId": "5e6708ad-c08f-4c67-a285-fb076a605ef0",
            "projectId": "2cpwvbbD59WEdKZi",
            "user": {
              "updatedAt": "2026-02-20T06:28:24.000Z",
              "createdAt": "2026-02-14T15:34:42.148Z",
              "id": "5e6708ad-c08f-4c67-a285-fb076a605ef0",
              "email": "denis@karmarent.app",
              "firstName": "Denis",
              "lastName": "Ovchar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-14T15:55:47.370Z",
                "personalization_survey_n8n_version": "2.7.5"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "TQkyDMEGaTVJOlvB",
                "userActivatedAt": 1771091240216
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-20T06:32:20.433Z",
    "createdAt": "2026-02-20T06:32:20.433Z",
    "versionId": "09241303-a785-4314-8549-9a72e8c57b18",
    "workflowId": "TQkyDMEGaTVJOlvB",
    "nodes": [
      {
        "parameters": {
          "tableId": "Message_Buffer",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $json.sender }}"
              },
              {
                "fieldId": "message",
                "fieldValue": "={{ $json.message }}"
              },
              {
                "fieldId": "message_id",
                "fieldValue": "={{ $('Webhook').item.json.body.metadata.messageId }}"
              },
              {
                "fieldId": "timestamp",
                "fieldValue": "={{ $('Webhook').item.json.body.metadata.timestamp }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1168,
          -304
        ],
        "id": "e56ae42c-9d2b-49f8-9e59-2353f6f874a6",
        "name": "Добавление сообщений",
        "credentials": {
          "supabaseApi": {
            "id": "KQZaTSAuLCvGSSwO",
            "name": "Supabase Karma_Worker"
          }
        }
      },
      {
        "parameters": {
          "content": "Сбор сообщений от клиента\n\n* Запоминает сообщения. в течении 10 сек, и отвечает. на все, а не по одному",
          "height": 500,
          "width": 1896,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1120,
          -400
        ],
        "typeVersion": 1,
        "id": "50e9a8b6-46c8-4d74-babe-d3fe334e6ef6",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "timestamp",
                "order": "=ascending"
              }
            ]
          },
          "options": {}
        },
        "id": "3d1be0b3-5910-43eb-93df-57777209f978",
        "name": "Sort by Message ID",
        "type": "n8n-nodes-base.sort",
        "position": [
          1904,
          -176
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "Message_Buffer",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $('Webhook').item.json.body.metadata.remoteJid }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1648,
          -304
        ],
        "id": "5639a0b2-3528-445d-a6b2-04bdcc0196f6",
        "name": "Берем сообщения",
        "credentials": {
          "supabaseApi": {
            "id": "KQZaTSAuLCvGSSwO",
            "name": "Supabase Karma_Worker"
          }
        }
      },
      {
        "parameters": {
          "amount": 3
        },
        "id": "b7b93f28-25b0-4a6c-88dd-65462f02d4a3",
        "name": "Wait 10 Seconds",
        "type": "n8n-nodes-base.wait",
        "position": [
          1408,
          -144
        ],
        "webhookId": "87994c9a-fd20-48b6-8dbe-9af36dc40b2f",
        "typeVersion": 1.1
      },
      {
        "parameters": {},
        "id": "7ca8e5ed-45ee-4e10-9fc9-621725de64c3",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2480,
          -112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "Сбор всех сообщений\n* Свверка с CRM\n* формулирование ответа ",
          "height": 632,
          "width": 1016,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1472,
          160
        ],
        "typeVersion": 1,
        "id": "9bd44ad0-6c47-40fe-b3ec-e6c8e6caa529",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Ты менеджер по аренде байков KarmaRent городе Нячанг. \nЕсли клиент ошибаеться то говори что мы работаем только в этих городах. Если нет, то не нужно напоминать об этом\n\nЕсли есть непонимание — перефразируй вопрос. \nДобавляй смайлики там где это уместно, в начале строк и  там где уместно (Байк, Фото, Аренда, Депозит  и т.д.)\nВсегда общайся на языке обращения клиента, клиент может писать на Вьетнамском, английском, Русском, Укр, Казахском и так далее!!\n\nПример диалога на английском:\nClient: Hi! I’m looking for a bike for a few days in Nha Trang.\nAssistant:\n– How many days do you need the bike for?\n– Will you ride alone or with a passenger?\n– Do you prefer a sporty model or something more comfortable?\n\n\n\nПример диалога на испанском:\nCliente: ¡Hola! Quiero alquilar una moto para dos días.\nAsistente:\n– ¿En qué ciudad la necesitas?\n– ¿Prefieres un modelo automático o manual?\n– ¿Vas a conducir solo o con pasajero?\n\n1. Первое сообщение клиенту (пример): \n\nПривет! 😊 Давайте подберем байк. Пожалуйста, ответьте на несколько вопросов:\n\n– На сколько дней планируете аренду?\n– Байк нужен для города или дальних поездок?\n– Есть ли опыт вождения?\n\nЕсли аренда до 3 дней, напиши, что так невыгодно: чем больше дней, тем выгоднее, если все же клиенту нужно меньше чем на 3 дня, то предложи свободные варианты не надо говорить об выгоде если клиент не упоминал об этом или выбрал менее чем на 3 дня! \nПри аренде от 3 дней — дарим подборку интересных мест по Нячангу (заправки, что посмотреть, лайфхаки, экскурсии).\n\nПосле первого блока вопросов:\nВ Tool \"Get row(s) in sheet in Google Sheets\":\n\nНайти байки, у которых состояние (поле A) = \"Свободен\" и вышли клиенту \nПредлагай только свободные байки (статус “Свободен”) придумывать другие байки что бы угодить клиенту запрещено, используй только те байки что есть в ноде \"Get row(s) in sheet in Google Sheets\"\n\nСформировать структурированный ответ по типу: \nМодель (поле B)\nФото (поле E)\nСостояние (поле A)\nАксессуары (поле F)\n\n2. Второе сообщение клиенту со свободными байками взятые в Tool \"Get row(s) in sheet in Google Sheets\"\n(пример): \n\n- Модель (поле B)\n- Фото (поле E)\n- Состояние (поле A)\n- Аксессуары (поле F)\n\nНапомнить клиенту о:\n– Если выбран байк высокого класса и у клиента нет опыта — предупреди про мотошколу (урок 300 000 VND, только после урока возможна аренда).\n– Для каждого байка: укажи модель, класс, аксессуары, приложи фото без выгрузки таблицы в markdown.\n– Кратко опиши преимущества выбранной модели и удобство для клиента.\n– Если ни один байк не подходит, сообщи об этом вежливо на языке клиента."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1728,
          256
        ],
        "id": "977a8dc3-1b96-4b0c-815a-1f366b02b98e",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "content": "Отправка байка в мессенджер \n",
          "height": 260,
          "width": 300,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2704,
          176
        ],
        "typeVersion": 1,
        "id": "54940db2-5311-4f24-92a0-691e75149987",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "url": "https://app.chatflow.kz/api/v1/send-text",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "token",
                "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJTaUN0NUJQdEpaUEVFb0FlZERRRXR6YldDSWVUOGE0dSIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzcxMTUxNzc0fQ.EdGPEhk0to6vB5s54GCtVlh4cpmZmMSELpNfQYHm8tw"
              },
              {
                "name": "instance_id",
                "value": "=eyJ1aWQiOiJTaUN0NUJQdEpaUEVFb0FlZERRRXR6YldDSWVUOGE0dSIsImNsaWVudF9pZCI6Ikthcm1hUmVudCAifQ=="
              },
              {
                "name": "jid",
                "value": "={{ $('Webhook').item.json.body.metadata.remoteJid }}"
              },
              {
                "name": "msg",
                "value": "={{ $('AI Agent').item.json.output }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2800,
          256
        ],
        "id": "347d496d-8d67-4450-a2a5-f349db069537",
        "name": "Сообщение в WhatsApp"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.body.metadata.remoteJid }}",
          "contextWindowLength": 30
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1712,
          528
        ],
        "id": "ad542f4d-c01e-4742-8de8-ef468624932b",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE",
            "mode": "list",
            "cachedResultName": "Karma Rent Bike Pro1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 379274933,
            "mode": "list",
            "cachedResultName": "Байки",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit#gid=379274933"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          1984,
          528
        ],
        "id": "d7cc99c2-bac6-447b-9b40-832b140e7beb",
        "name": "Get row(s) in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hNuIzZIkQLwvM5fn",
            "name": "Google Sheets account_KARMA_RENT"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE",
            "mode": "list",
            "cachedResultName": "Karma Rent Bike Pro1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 807819994,
            "mode": "list",
            "cachedResultName": "Тарифы",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit#gid=807819994"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          2176,
          528
        ],
        "id": "95a6bbde-4c49-4100-87c3-fc05d3f14eb2",
        "name": "Get row(s) in sheet in Google Sheets Price",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hNuIzZIkQLwvM5fn",
            "name": "Google Sheets account_KARMA_RENT"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Используй эту тулзу что бы обновлять состояние байков после бронирования клиентов \nСостояние (Поле A) - В Аренде",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE",
            "mode": "list",
            "cachedResultName": "Karma Rent Bike Pro1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 379274933,
            "mode": "list",
            "cachedResultName": "Байки",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit#gid=379274933"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Состояние": "В аренде",
              "row_number": 0
            },
            "matchingColumns": [
              "Состояние"
            ],
            "schema": [
              {
                "id": "Состояние",
                "displayName": "Состояние",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Байк",
                "displayName": "Байк",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Номер байка ",
                "displayName": "Номер байка ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Класс",
                "displayName": "Класс",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Фото",
                "displayName": "Фото",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Аксессуары",
                "displayName": "Аксессуары",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Коментарий",
                "displayName": "Коментарий",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          2352,
          528
        ],
        "id": "aeb8f2bf-503c-4af0-a8ac-3e1074972c42",
        "name": "Update row in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hNuIzZIkQLwvM5fn",
            "name": "Google Sheets account_KARMA_RENT"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "8852bab7-230e-442a-a4a2-994e979c8f9f",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                },
                "leftValue": "={{ $input.last().json.timestamp }}\n\n",
                "rightValue": "={{ $('Webhook').item.json.body.metadata.timestamp.toString() }}\n"
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "e1a8c728-16b4-4f51-acd9-ff3e625df1c4",
        "name": "Проверить последнее сообщение",
        "type": "n8n-nodes-base.if",
        "position": [
          2160,
          -288
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "Message_Buffer",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $json.user_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2464,
          -304
        ],
        "id": "651cc2dc-33e6-438e-ad5f-fdccaffe0934",
        "name": "Сборка сообщений",
        "credentials": {
          "supabaseApi": {
            "id": "KQZaTSAuLCvGSSwO",
            "name": "Supabase Karma_Worker"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "message"
              }
            ]
          },
          "options": {}
        },
        "id": "fd34ebe1-d9b6-4656-83ab-997a053e7ced",
        "name": "Сумма",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          2752,
          -304
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1536,
          528
        ],
        "id": "15400d68-9790-4bc2-86a5-507f6171ee88",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "cE63FX9za2dolIQA",
            "name": "OpenAi D1Motors"
          }
        }
      },
      {
        "parameters": {
          "content": "Подробный разбор этого блока во втором видео на канале",
          "height": 860,
          "width": 1804
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -832,
          -512
        ],
        "typeVersion": 1,
        "id": "6bbfa434-a7b2-4551-b7df-8546c9b517b4",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "text",
                      "rightValue": "={{ $json.messageType }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "7d2a8cb9-ee05-4c48-a620-6d701b21002b"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "3489ec87-b04e-4b1e-ade1-81424608aafa",
                      "leftValue": "audio",
                      "rightValue": "={{ $json.messageType }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "6c404022-4092-4ba6-9399-ff9a520d47c6",
                      "leftValue": "image",
                      "rightValue": "={{ $json.messageType }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "8e5eedbe-968b-4175-94a3-b505f3068b7e",
                      "leftValue": "document",
                      "rightValue": "={{ $json.messageType }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "document"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -592,
          -256
        ],
        "id": "1ec75ec9-8d5e-4b3d-b345-fbc802bae521",
        "name": "Switch"
      },
      {
        "parameters": {
          "url": "={{ $json.pdf }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "file",
                "outputPropertyName": "=data"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -80,
          112
        ],
        "id": "08f44d7b-eeab-4737-bba7-0ca70c5085f7",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "960ff6f3-909b-4028-bfa3-d275c85ed6f9",
                "name": "sender",
                "type": "string",
                "value": "={{ $(\"Webhook\").item.json.body.metadata.remoteJid }}"
              },
              {
                "id": "efed5d73-27e8-4538-b7d9-3044f1ec3288",
                "name": "message",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ff95a31a-3523-4596-85f9-4578cdc9da0e",
        "name": "Set Payment Response2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          112
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.image }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "file",
                "outputPropertyName": "=data"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -80,
          -64
        ],
        "id": "2be6553a-905f-476e-91c2-a80a06051e07",
        "name": "HTTP Request3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "960ff6f3-909b-4028-bfa3-d275c85ed6f9",
                "name": "sender",
                "type": "string",
                "value": "={{ $(\"Webhook\").item.json.body.metadata.remoteJid }}"
              },
              {
                "id": "dbfc6897-26c0-4161-b078-740a98d1aa8c",
                "name": "message",
                "type": "string",
                "value": "={{ $json.content }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c440741f-879e-4a38-977e-dfc587ad8a06",
        "name": "Set Payment Response3",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          -64
        ],
        "alwaysOutputData": false,
        "notesInFlow": false
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "id": "9a8ea6c1-406a-4903-ae12-a910047c5740",
        "name": "Extract PDF Text",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          192,
          112
        ]
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "text": "напиши текстом описание на изображение без коментариев просто напиши что написано",
          "inputType": "base64",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          192,
          -64
        ],
        "id": "b41e86c1-a1b0-4d35-b186-6120cb815272",
        "name": "Analyze image1",
        "credentials": {
          "openAiApi": {
            "id": "RiO4nO6XHyozGS1E",
            "name": "OpenAi Karma_Rent"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2f8abb0f-2aaf-49ed-b2da-f092775f47a3",
                "name": "sender",
                "value": "={{ $json.body.metadata.remoteJid }}",
                "type": "string"
              },
              {
                "id": "70b56414-635b-4e1d-bb0f-d46a5b0f7aba",
                "name": "messageType",
                "value": "={{ $json.body.messageType }}",
                "type": "string"
              },
              {
                "id": "c7bdfe19-e9cd-4d73-b497-cb3f4f46c8ee",
                "name": "text message",
                "value": "={{ $json.body.message }}",
                "type": "string"
              },
              {
                "id": "8429b40f-b61c-4564-ac6b-d925151c2c65",
                "name": "audio message",
                "value": "={{ $json.body.mediaData.base64 }}",
                "type": "string"
              },
              {
                "id": "0cdf4162-4c2d-4bef-9b64-02bd7d6eac69",
                "name": "image",
                "value": "={{ $json.body.mediaData.url }}",
                "type": "string"
              },
              {
                "id": "bdd37591-1ef7-42f1-91ff-a1716485354d",
                "name": "pdf",
                "value": "={{ $json.body.mediaData.url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -752,
          -224
        ],
        "id": "52bce193-950a-4002-85bd-bcb3a8fbb236",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4aa71e06-3620-4e33-94be-28a53ff07c6f",
                "name": "sender",
                "value": "={{ $json.sender }}",
                "type": "string"
              },
              {
                "id": "f53588bd-200f-4dab-a639-ff3b3ea640c5",
                "name": "message",
                "value": "={{ $json['text message'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          -448
        ],
        "id": "ab9755cd-f5b1-4297-88fb-8c38af3b0c1c",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a125f358-6efd-4d14-be3a-d3df77c34274",
                "name": "sender",
                "value": "={{ $json.sender }}",
                "type": "string"
              },
              {
                "id": "19b2a85e-9877-47e2-b82c-8d995b2183c0",
                "name": "audio message",
                "value": "={{ $json['audio message'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -80,
          -240
        ],
        "id": "0989ecc8-00d8-4343-a91c-7e01c79fec05",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "audio message",
          "options": {
            "mimeType": "audio/ogg"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          192,
          -240
        ],
        "id": "b662d657-d516-4455-ba4e-991a75f26fd8",
        "name": "Convert to File1"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          416,
          -240
        ],
        "id": "a2bf4a7f-f1da-4a0a-95cc-e4d55d979eff",
        "name": "OpenAI1",
        "credentials": {
          "openAiApi": {
            "id": "RiO4nO6XHyozGS1E",
            "name": "OpenAi Karma_Rent"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe1c1138-fe9f-4d00-9743-5e66282d9074",
                "name": "sender",
                "value": "={{ $('Edit Fields6').item.json.sender }}",
                "type": "string"
              },
              {
                "id": "ec2514bb-d888-4e2c-b427-617acf2295d6",
                "name": "message",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          -240
        ],
        "id": "831ddb82-77c4-4d04-bad7-1e0c0ea12a27",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "content": "",
          "height": 240,
          "width": 320,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1280,
          -272
        ],
        "typeVersion": 1,
        "id": "30775e05-1a9d-430f-9c2d-faf9efcfb9b4",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "6b2abf67-a83b-4cb7-bc7b-81be5cf2e820",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1184,
          -224
        ],
        "id": "8604b9e9-b4e3-4e67-bce6-19232e582709",
        "name": "Webhook",
        "webhookId": "6b2abf67-a83b-4cb7-bc7b-81be5cf2e820"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "=– После того как клиент выслал фото паспорта, ОБЯЗАТЕЛЬНО вызови тулзу \"Update row in sheet in Google Sheets\" с параметрами \n{\"row_number\": 2, \"Состояние\": \"Забронирован\"} \nгде 2 - это row_number выбранного байка\n\nИспользуй эту тулзу чтобы обновлять состояние байков после бронирования клиентов.\n\nВАЖНО:\n- Когда клиент присылает фото паспорта и подтверждает бронирование, вызови эту тулзу\n- Передай row_number байка, который выбрал клиент (ты получил его из Get row(s) in sheet)\n- Установи Состояние = \"Забронирован\"\n\nПример: если клиент выбрал байк с row_number = 5, передай:\nrow_number: 5\nСостояние: Забронирован",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE",
            "mode": "list",
            "cachedResultName": "Karma Rent Bike Pro1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 379274933,
            "mode": "list",
            "cachedResultName": "Байки",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1knpg3fWFiPLu2dFUQYTiOsuD-GRmcICnLKFnBf-EgGE/edit#gid=379274933"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Состояние",
                "displayName": "Состояние",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Байк",
                "displayName": "Байк",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Номер байка ",
                "displayName": "Номер байка ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Класс",
                "displayName": "Класс",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Фото",
                "displayName": "Фото",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Аксессуары",
                "displayName": "Аксессуары",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Коментарий",
                "displayName": "Коментарий",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          2704,
          560
        ],
        "id": "045c8e67-533e-4b6d-85bd-202328732113",
        "name": "Update row in sheet in Google Sheets2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hNuIzZIkQLwvM5fn",
            "name": "Google Sheets account_KARMA_RENT"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "f1-84586066091",
                "leftValue": "={{ $json.body.metadata.remoteJid }}",
                "rightValue": "84586066091",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "f2-79262579414",
                "leftValue": "={{ $json.body.metadata.remoteJid }}",
                "rightValue": "79262579414",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -968,
          -224
        ],
        "id": "phone-filter-node-new",
        "name": "Phone Filter"
      }
    ],
    "connections": {
      "Sort by Message ID": {
        "main": [
          [
            {
              "node": "Проверить последнее сообщение",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Берем сообщения": {
        "main": [
          [
            {
              "node": "Sort by Message ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Добавление сообщений": {
        "main": [
          [
            {
              "node": "Берем сообщения",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 10 Seconds": {
        "main": [
          []
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets Price": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet in Google Sheets": {
        "ai_tool": [
          []
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Сообщение в WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Проверить последнее сообщение": {
        "main": [
          [
            {
              "node": "Сборка сообщений",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Сборка сообщений": {
        "main": [
          [
            {
              "node": "Сумма",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Сумма": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Extract PDF Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Analyze image1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract PDF Text": {
        "main": [
          [
            {
              "node": "Set Payment Response2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze image1": {
        "main": [
          [
            {
              "node": "Set Payment Response3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File1": {
        "main": [
          [
            {
              "node": "OpenAI1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI1": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Phone Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Добавление сообщений",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "Добавление сообщений",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Payment Response3": {
        "main": [
          [
            {
              "node": "Добавление сообщений",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Payment Response2": {
        "main": [
          [
            {
              "node": "Добавление сообщений",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet in Google Sheets2": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Phone Filter": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "Denis Ovchar",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-20T06:32:20.514Z",
        "id": 23,
        "workflowId": "TQkyDMEGaTVJOlvB",
        "versionId": "09241303-a785-4314-8549-9a72e8c57b18",
        "event": "activated",
        "userId": "5e6708ad-c08f-4c67-a285-fb076a605ef0"
      }
    ]
  }
}